<div *ngIf="whatTOShow==0" class="full-height">
    <app-frontpage></app-frontpage>
  </div>
<div *ngIf="whatTOShow==10" class="full-height">
  <app-login></app-login>
</div>

<div *ngIf="whatTOShow==1">
    <app-admin></app-admin>
</div>

<div *ngIf="whatTOShow==2">
    <app-seller></app-seller>
</div>

<div *ngIf="whatTOShow==3">
    <app-buyer></app-buyer>
</div>

<div *ngIf="whatTOShow==4">
    <app-register></app-register>
</div>
<div *ngIf="whatTOShow==5">
    <app-cartprodcut></app-cartprodcut>
</div>

<div *ngIf="whatTOShow==6">
    <app-return></app-return>
</div>
<div *ngIf="whatTOShow==7">
    <app-history></app-history>
</div>




